.jumbotron {
  padding-top: 6rem;
  background-color: #176b87;
  font-style: normal;
  color: antiquewhite;
}

.jumbotron .img img {
  border: 4px double #fff;
  width: 200px;
  opacity: 40%;
  transition: 1s ease-in-out;
}

.jumbotron .img:hover img {
  height: 400px;
  width: 250px;
  opacity: 100%;
  transform: scale3d();
  box-shadow: 0px 50px 15px -15px rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
  text-shadow: -4px 4px 6px rgba(201, 228, 222, 5);
}

#Projects {
  background-color: #000;
}

section {
  width: 100vw;
  padding-top: 6rem;
}
